.wrap{
    width: 1200px;
    margin: 50px auto;
}
.form-group{
    width: 400px;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
input{
    width: 45%;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
label{
    width: 35%;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
input[type=email]{
    width: 96%;
    height: 40px;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    display: inline-block;
    margin-bottom: 20px;
}
input[type=password]{
    width: 96%;
    height: 40px;
}
.text{
    margin-left: 15px;
}
input[type=radio]{
    width: 15%;
    margin-left: -46px;
    margin-top: 5px;
}
.p3{
    margin-top: -10px;
}
label[for=ayol]{
    width: 10%;
}
label[for=erkak]{
    width: 10%;
}
label[for=boshqa]{
    width: 10%;
}
select[name=day]{
    width: 30%;
    height: 30px;
    border-radius: 5px;
}
select[name=month]{
    width: 30%;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
}
select[name=year]{
    width: 30%;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
}
.h2{
    text-align: center;
}
.p{
    text-align: center;
    margin-top: -10px;
}
.p1{
    font-size: 10px;
}
input[type=submit]{
    width: 70%;
    background-color: #03c103;
    color: white;
    margin-left: 10%;
}
.p2{
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
}
p a{
    text-decoration: none;
}
.img{
    width: 300px;
    margin-left: 450px;
}
label[for=ayol]{
    width: 100px;
    border: 1px solid #cccccc;
}
label[for=erkak]{
    width: 100px;
    border: 1px solid #cccccc;
}
label[for=boshqa]{
    width: 100px;
    border: 1px solid #cccccc;
}
.form-g{
    width: 400px;
    height: 1px;
    background-color: #cccccc;
    margin-top: -510px;
    margin-left: 400px;
}